.settings-heading {
  padding: 1em 0;
}

.kintoneplugin-input-text {
  width: 16em;
  margin-bottom: 1em;
}

/* js側 */
#pop-up-html{
  text-align: left;
}

.original-field-label{
  font: size 18px; ;
  width: 20em;
  margin: auto;
}

/* html側 */
.kintoneplugin-row{
  margin-top: 2em;
}

.config-label{
  font-size: 20px;
  font-weight: bold;
  background-color: #e2f2fe;
  margin-top: 1em;
  margin-bottom: 0.5em;
  padding-right: inherit;
}

.config-description{
  color: darkgray;
}

.input-form-label{
  font-weight: bold;
  display: block;
  margin-right: 4em;
}

#appId{
  /* width: 120px; */
  margin-right: 2em;
}
#token{
  width: 450px;
  margin-right: 2em;
}
#submit{
  margin-top: 1.5em;
}

button#callhistory-submit-button{
  font-weight: bold;
  margin-left: 2em;
  margin-top: 0.5em;
}

.callhistory-name{
  margin-right: 1.5em;
  margin-top: 0.3em;
  margin-bottom: 0.3em;
}
.call-app-name{
  margin-right: 1.5em;
  margin-top: 0.3em;
  margin-bottom: 0.3em;
}

/* kintone-ui-component */
kuc-text-1-7-0{
  margin-right: 2em;
}
kuc-dropdown-1-7-0{
  margin-right: 2em;
}
.kuc-dropdown-1-7-0__group__select-menu__item{
  position: absolute;
}