.settings-heading {
  padding: 1em 0;
}

.div-unit {
  margin-top: 50px;
}
.div-unit .block {
  margin-bottom: 50px;
}
.div-unit .block .kintoneplugin-label {
  display: flex;
}
.div-unit .block .kintoneplugin-label .balloon-outer {
  position: relative;
  width: 200px;
  height: 0;
  z-index: 50;
}
.div-unit .block .kintoneplugin-label .balloon-outer .kintoneplugin-require {
  cursor: pointer;
}
.div-unit .block .kintoneplugin-label .balloon-outer .kintoneplugin-require:hover + .balloon {
  opacity: 1;
}
.div-unit .block .kintoneplugin-label .balloon-outer .balloon {
  display: table;
  padding: 12px;
  position: relative;
  margin-top: -39px;
  left: 15px;
  background-color: #d7ebfe;
  outline: 1.5px solid #1797ec;
  border-radius: 20px;
  margin-left: 1.5em;
  opacity: 0;
}
.div-unit .block .kintoneplugin-label .balloon-outer .balloon::before, .div-unit .block .kintoneplugin-label .balloon-outer .balloon::after {
  content: "";
  position: absolute;
  top: 15px;
  left: -1.5em;
  border-top: 8px solid transparent;
  border-right: 1.5em solid #1797ec;
  border-bottom: 8px solid transparent;
}
.div-unit .block .kintoneplugin-label .balloon-outer .balloon::after {
  left: calc(4px - 1.5em);
  border-right: solid 1.5em #d7ebfe;
}
.div-unit .block .kintoneplugin-label .balloon-outer .balloon p {
  padding: 12px;
}
.div-unit .block #formArea-outer #formArea_0 select {
  margin-right: 10px;
}
.div-unit .block #formArea-outer #formArea_0 input {
  margin-right: 10px;
}
.div-unit .block #formArea-outer .formArea {
  width: 100%;
  margin-bottom: 15px;
  flex-direction: column;
}
.div-unit .block #formArea-outer .formArea select {
  width: 40%;
  max-width: 200px;
  height: 48px;
  border: 1px solid #e3e7e8;
  background-color: #f7f9fa;
  box-shadow: 1px 1px 1px #fff inset;
  color: #3498db;
  font-size: 13px;
  cursor: pointer;
  margin-right: 15px;
  margin-bottom: 15px;
}
.div-unit .block #formArea-outer .formArea input {
  padding: 5px;
  width: 40%;
  max-width: 200px;
  height: 38px;
  border: 1px solid #e3e7e8;
  background-color: #f7f9fa;
  box-shadow: 1px 1px 1px #fff inset;
  text-overflow: ellipsis;
  margin-right: 15px;
  margin-bottom: 15px;
}
.div-unit .block #formArea-outer .formArea .delete-btn {
  padding: 5px;
  cursor: pointer;
  background-color: #ff9d9d;
  border: solid 1px #333;
  outline: none;
  box-shadow: 0 4px 5px 0px #333;
  transition: all 0.2s ease;
  font-size: 15px;
  border-radius: 10px;
  letter-spacing: 0.2em;
  font-weight: bold;
}
.div-unit .block #formArea-outer .formArea .delete-btn:hover {
  border-color: transparent;
  background-color: #ff5c5c;
  color: #ffffff;
  box-shadow: none;
  transform: translateY(2px);
}
.div-unit .block .add-btn {
  position: relative;
  cursor: pointer;
  padding: 5px;
  background-color: #f5f5f5;
  font-size: 15px;
  border-radius: 10px;
  border: solid 1px #333;
  outline: none;
  box-shadow: 0 4px 5px 0px #333;
  transition: all 0.2s ease;
}
.div-unit .block .add-btn:hover {
  border-color: transparent;
  background-color: #5a5a5a;
  color: #ffffff;
  box-shadow: none;
  transform: translateY(2px);
}/*# sourceMappingURL=config.css.map */