.kintoneplugin-dummy {
  display: none;
}
.kintoneplugin-desc {
  color: darkgray;
}

.field-code {
  /* margin-bottom: 1.8em; */
  margin-right: 1em;
}
.richeditor-button {
  /* margin-top: 1.8em; */
  margin-left: 1em;
  height: fit-content;
}
.tips-icon {
  margin-left: 0.5em;
  font-size: 8px;
  background-image: url('../image/icon.png');
}
.middle-dropdown {
  font-weight: bold;
  margin-top: 40px;
  margin-right: 1.2em;
}