.plugin-space-heading {
  font-size: 1.5rem;
  margin: 0.8rem;
}
.plugin-space-message {
  display: inline-block;
  font-size: 1.2em;
  margin: 0.8rem;
  margin-top: 0;
}

.tips-icon {
  display: inline-block;
  vertical-align: top;
  text-align: center;
  position: relative;
  font-weight: bold;
  margin-left: 0.4em;
  color: #fff;
  background-color: #5e5e5e;
  height: 18px;
  width: 18px;
  border-radius: 50%;
}

.baloon {
  position: absolute;
  width: fit-content;
  text-align: left;
  vertical-align: top;
  padding: 10px;
  font-size: 12px;
  margin: -30px 0 0;
  background-color: #666;
  color: #fff;
  left: 30px;
  top: 65%;
  border-radius: 8px;
  z-index: 2;
  display: table;
}
.baloon::before {
  width: auto;
  right: 100%;
  top: 2.3em;
  border: solid transparent;
  content: ' ';
  height: 0;
  width: 0;
  position: absolute;
  border-color: rgba(102, 102, 102, 0);
  border-right-color: #5e5e5e;
  border-width: 8px;
  margin-top: -8px;
}
